build/
playground/
.vscode/settings.json
.vscode/*.log
.VSCodeCounter/
.idea
bx_enh_dbg.ini
machine/
draft/
iso_inspect/
unused/
__pycache__/

.builder/
.config.json

link/lunaix.ld

.gdb_history

**.o
**.d

*.log

.lunaix_ksymtable.S