/*

!arch
!hal
!kernel
!libs
!makeinc
!includes
!scripts
!usr
!link
!tests

!.gitignore
!*.md
!.pre-commit-config.yaml
!LBuild
!LConfig
!makefile
!live_debug.sh
!*.mk

*.[od]
*.ld
*.log

scripts/*.tool

__pycache__

.config.json
.builder

.vscode