/*

!arch
!hal
!kernel
!libs
!makeinc
!includes
!scripts
!usr
!link

!.gitignore
!*.md
!.pre-commit-config.yaml
!LBuild
!LConfig
!Makefile
!kernel.mk

*.[od]
*.ld
*.log

__pycache__

.config.json
.builder